@mixin square($size, $color) {
  width: $size;
  height: $size;
  background-color: $color;
}

.small-blue-square {
  @include square(100px, rgb(0,0,255));
}

.big-red-square {
  @include square(100px, rgb(255,0,0));
}